header {
  border-bottom: 1px solid #000;

  h1 img {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }
}

.pov-select {
  text-align: right;

  label {
    margin-right: 0.5em;
  }

  select {
    background: rgba(255, 255, 255, 0.5);
    padding-right: 1em;
  }
}